<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>MyCrypto App</title>
  </head>
  <body>
    <div class="page__container">
      <header>
        <img
          class="header__logo"
          src="../static/img/logo_trader_crypto.png"
          alt="logo company"
        />
      </header>
      <div class="main-container">
        <div class="table-form-container">
          <div class="table-container">
            <table summary="Trading History Table" id="trading-table">
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Moneda cambiada</th>
                <th>Cantidad inicial</th>
                <th>Moneda obtenida</th>
                <th>Cantidad al cambio</th>
              </tr>
            </table>
          </div>
          <form class="form-container" id="trader-form" style="display: none">
            <div class="form-container__column">
              <div class="form-container__input">
                <p>Tiene:</p>
                <select class="currency-available" id="currency-from">
                  <option value="EUR">EUR</option>
                  <option value="ETH">ETH</option>
                  <option value="BNB">BNB</option>
                  <option value="ADA">ADA</option>
                  <option value="DOT">DOT</option>
                  <option value="BTC">BTC</option>
                  <option value="USDT">USDT</option>
                  <option value="XRP">XRP</option>
                  <option value="SOL">SOL</option>
                  <option value="MATIC">MATIC</option>
                </select>
              </div>
              <div class="form-container__input">
                <p>Cantidad:</p>
                <input
                  placeholder="Escriba su número"
                  id="quantity-from"
                  default="0"
                />
                <div class="tooltip">
                  <button id="calculate-button" type="button">
                    <img
                      src="../static/img/calculator.svg"
                      alt="calculator-icon"
                    />
                  </button>
                </div>
              </div>
            </div>
            <div class="form-container__column">
              <div class="form-container__input">
                <p>Recibe:</p>
                <select class="currency-available" id="currency-to">
                  <option value="ETH">ETH</option>
                  <option value="EUR">EUR</option>
                  <option value="BNB">BNB</option>
                  <option value="ADA">ADA</option>
                  <option value="DOT">DOT</option>
                  <option value="BTC">BTC</option>
                  <option value="USDT">USDT</option>
                  <option value="XRP">XRP</option>
                  <option value="SOL">SOL</option>
                  <option value="MATIC">MATIC</option>
                </select>
              </div>
              <div class="form-container__input">
                <p>Cantidad:</p>
                <input placeholder="Aquí verá el cambio" id="quantity-to" />
              </div>
              <div class="form-container__input">
                <p>Precio unitario:</p>
                <input placeholder="Valor 1x1" id="unit-price" />
              </div>
              <div class="form-container__buttons">
                <button class="cancel-button" id="cancel-button" type="button">
                  Cancelar
                </button>
                <button
                  class="confirm-button"
                  id="confirm-button"
                  type="button"
                >
                  Confirmar
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="overview-section">
          <div class="overview-section__item">
            <p>Total invertido:</p>
            <p>0</p>
          </div>
          <div class="overview-section__item">
            <p>Total recuperado:</p>
            <p>0</p>
          </div>
          <div class="overview-section__item">
            <p>Valor de compra:</p>
            <p>0</p>
          </div>
          <div class="overview-section__item">
            <p>Valor actual:</p>
            <p>0</p>
          </div>
          <button class="go-button" id="go-button">+</button>
        </div>
      </div>
      <footer>
        <p>© Gabriela M. Fernández (2023)</p>
      </footer>
    </div>
    <script src="../static/trader.js"></script>
  </body>
</html>
