<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>MyCrypto App</title>
  </head>
  <body>
    <h1>Trader Crypto</h1>
    <h3>(work in progress)</h3>
    <form>
      <select type="text" placeholder="From Currency" id="currency-from">
        <option>EUR</option>
        <option>BTC</option>
        <option>ETH</option>
      </select>
      <input type="text" placeholder="From quantity" id="quantity-from" />
      <select type="text" placeholder="To Currency" id="currency-to">
        <option>LTC</option>
        <option>BTC</option>
        <option>ETH</option>
      </select>
      <input type="text" id="quantity-to" />
    </form>
  </body>
</html>
